<script>
  let store = {};
  (async () => {
    try {
      const res = await fetch('https://localhost:8443/');
      store = await res.json();
      let ws = new WebSocket('wss://localhost:8443/');
      ws.onmessage = ({ data }) => {
        let json = JSON.parse(data);
        items = json.items;
      };
    } catch (e) {}
  })();

  let items = [];

  $: {
    if (store.items) {
      items = [...store.items];
    }
  }
</script>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      {#each items as item}
        <tr class="active">
          <td>{item}</td>
        </tr>
      {/each}
    </tbody>
  </table>

</div>
